Repository tweepy/tweepy, pull requests merged in 2021-04, with the labels that each got.

#1486 Rework media uploading
  cassettes/testmediauploadgif.yaml
  cassettes/testmediauploadmp4.yaml
  cassettes/testmediauploadpng.yaml
  docs/api.rst
  docs/parameters.rst
  examples/animated.gif
  examples/video.mp4
  tests/test_api.py
  tweepy/api.py
Labels: Documentation, Feature, Improvement, Tests

#1535 Support Twitter API v2
  cassettes/test_follow_and_unfollow.yaml
  cassettes/test_get_tweet.yaml
  cassettes/test_get_tweets.yaml
  cassettes/test_get_user.yaml
  cassettes/test_get_users.yaml
  cassettes/test_get_users_followers.yaml
  cassettes/test_get_users_following.yaml
  cassettes/test_get_users_mentions.yaml
  cassettes/test_get_users_tweets.yaml
  cassettes/test_hide_and_unhide_reply.yaml
  cassettes/test_search_recent_tweets.yaml
  docs/api.rst
  docs/client.rst
  docs/index.rst
  docs/models.rst
  docs/pagination.rst
  docs/running_tests.rst
  setup.cfg
  tests/config.py
  tests/test_api.py
  tests/test_client.py
  tweepy/__init__.py
  tweepy/client.py
  tweepy/media.py
  tweepy/mixins.py
  tweepy/pagination.py
  tweepy/place.py
  tweepy/poll.py
  tweepy/tweet.py
  tweepy/user.py
Labels: API, Documentation, Feature, Tests

#1574 Updated Polish language locale
  docs/locale/pl/LC_MESSAGES/api.po
  docs/locale/pl/LC_MESSAGES/auth_tutorial.po
  docs/locale/pl/LC_MESSAGES/changelog.po
  docs/locale/pl/LC_MESSAGES/code_snippet.po
  docs/locale/pl/LC_MESSAGES/cursor_tutorial.po
  docs/locale/pl/LC_MESSAGES/exceptions.po
  docs/locale/pl/LC_MESSAGES/extended_tweets.po
  docs/locale/pl/LC_MESSAGES/getting_started.po
  docs/locale/pl/LC_MESSAGES/index.po
  docs/locale/pl/LC_MESSAGES/install.po
  docs/locale/pl/LC_MESSAGES/parameters.po
  docs/locale/pl/LC_MESSAGES/running_tests.po
  docs/locale/pl/LC_MESSAGES/stream.po
  docs/locale/pl/LC_MESSAGES/streaming.po
  docs/locale/pl/LC_MESSAGES/streaming_how_to.po
Labels: Documentation
